In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

import math

In [3]:
insurance = pd.read_csv('./data/expenses.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
insurance.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [5]:
insurance.shape

(1338, 7)

In [6]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
n = len(insurance)
numerator = n * sum(insurance["charges"]*insurance['age']) - sum(insurance["charges"]) * sum(insurance["age"])
denominator = n * sum(insurance["charges"]**2) - sum(insurance["charges"]) ** 2

print(numerator)
print(denominator)
b1_ = numerator / denominator
print(b1_) #intercept

91010239079.4524
262347308458475.62
0.00034690746253208656

In [9]:
# sample mean

b0_ = np.mean(insurance['age']) - b1_ *  np.mean(insurance['charges'])

print(b0_) #slope

34.60341689633183

In [10]:
print('New regression model')

print("age= ", b0_ ,"+",b1_,"* charges")

New regression model
age=  34.60341689633183 + 0.00034690746253208656 * charges

In [11]:
result = smf.ols(formula="charges ~ age", data=insurance).fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                     131.2
Date:                Sat, 03 Dec 2022   Prob (F-statistic):           4.89e-29
Time:                        12:29:25   Log-Likelihood:                -14415.
No. Observations:                1338   AIC:                         2.883e+04
Df Residuals:                    1336   BIC:                         2.884e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   3165.8850    937.149      3.378      0.001    1327.440    5004.330
age          257.7226     22.502     11.453      0.000     213.579     301.866
==============================================================================
Omnibus:                      399.600   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              864.239
Skew:                           1.733   Prob(JB):                    2.15e-188
Kurtosis:                       4.869   Cond. No.                         124.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
result.params

Intercept    3165.885006
age           257.722619
dtype: float64

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
X=insurance.drop(['charges', 'region', 'smoker', 'sex'], axis=1)
y=insurance['charges']

In [15]:
X

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
...   ...     ...       ...
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [16]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [18]:
#split data 75/25, random state = 0 
# Split data to train set and step set

from sklearn.model_selection import train_test_split

#data = insurance[['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']]
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=.25, random_state=0)

print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

X_train shape: (1003, 3)
X_test shape: (335, 3)
y_train shape: (1003,)
y_test shape: (335,)

In [19]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred = reg.predict(X_test)
y_pred

array([15756.09703444, 14430.22566727, 18669.18537412, 19502.82816064,
       11229.58889778,  8572.47462436,  6616.82538334, 18709.14997634,
       14052.37442945, 12803.4688431 ,  9816.29959658, 14780.32103673,
       13729.03938526,  9241.0047288 ,  9211.45244635, 16017.42827263,
       15054.20060562, 10850.61820512, 13113.35404751,  8363.00697692,
       14566.44865903, 18359.81676167, 15306.36062994, 13313.55756428,
        9722.27785603, 13600.58940215,  6051.33777986, 15322.82144805,
        9241.19056239, 14991.55410331, 14025.08979096, 20556.45155244,
       19422.94431829, 17886.49030212,  6163.11564499,  9685.40278179,
       17517.67199927, 12458.29479586, 14602.0969945 ,  9150.37780831,
        8545.18998586,  9473.22172683, 11164.46237623, 19734.14253239,
        9788.89104632, 10484.84406816, 15918.06598798, 12434.41162329,
        8536.30969693, 14959.2286841 , 10267.17201565,  9277.2227396 ,
       14232.91367033, 18909.3800348 , 19920.12740872, 11514.75794643,
       11079.85741239, 13531.57474229, 15022.14064507, 15707.17804691,
        7550.13574658, 19417.21328658, 19659.78287515, 16610.99585695,
       18487.71696527, 18341.11484129,  8016.8373866 , 13804.61913541,
        7235.99845794, 15335.96599576, 16437.65222811, 16151.5760999 ,
        7343.79081468, 19472.53254382, 14968.38772342, 16026.74660386,
       11433.29451854, 14835.07614732, 11129.61710438, 19529.5221108 ,
       15537.8342936 , 17983.95661   ,  9222.45545446, 14249.7528015 ,
       15252.59441656, 11060.2384986 , 13834.49772294,  9768.57635285,
       16449.47712025, 11904.49380563, 14849.33569659, 15658.36634331,
       12642.64807868, 14189.1283803 , 12577.07579357, 11855.72746413,
       15894.72814164, 14687.53820951, 12665.368695  , 19004.97583221,
        9573.14151226, 13402.99865482, 12087.53960743, 12933.69089122,
       14341.05668125,  7094.73468548, 13524.99528486, 11314.52788797,
       17798.89318037, 17607.51022328, 14863.85190784, 15896.24135207,
       14497.87976273,  8247.27014509, 20424.15433983, 13030.18047645,
        6400.94974493, 13588.78333042, 19340.01631006, 14429.50887458,
       16862.65810973, 11530.59381325, 20545.85339907, 14504.76451223,
       13221.59662109,  8459.21781176, 13453.16320155, 12703.21057804,
       19745.30483241, 10437.47812448, 14570.11005492,  9514.48716421,
       12890.94650637, 12545.3864248 , 12890.97969392, 11410.32169352,
       11277.09531295, 13973.37884625, 13767.25293549,  8660.41022574,
        8734.86279978, 14979.39073153, 17964.5235298 , 16308.83057781,
       10398.22812234, 19422.75848469, 19165.37956734,  8054.79872813,
        5459.01130146, 14759.27737603, 11859.68643084, 13315.41590021,
       16173.21044894,  8388.38127151, 11489.59602712, 13056.36448052,
        9646.59854322,  8189.65670222, 16005.38435934, 17104.67019752,
       12400.36941505, 20184.72183393, 15511.86931067, 18401.33440775,
        7884.65191121, 12722.41799122,  5442.45092068, 12631.84307871,
       10238.92502163, 10683.15160817, 11919.01773815, 10274.93065715,
       14618.37862488, 10781.95639204, 11712.3608683 , 12946.64295947,
        8930.52883606, 10444.43370236, 18456.98995202,  6559.61679521,
       16869.75415911, 14037.41245464, 17326.2625005 , 10765.11726087,
       10193.07674166, 16199.69202382,  9108.0382782 ,  7940.9722402 ,
       18517.95949872, 16710.45105839, 15162.01950404, 10729.77421748,
       11018.30382323, 12502.00598951, 10926.39043473,  7752.91219938,
       13069.78777863, 14807.08908328, 13594.44134115, 10753.80231482,
       16818.78654877, 18793.46401525, 17829.97749366, 11248.29853942,
       11920.33739372, 16616.19592956,  9028.66438194, 16277.40113901,
       14455.02364067, 11643.65369311, 15527.6343491 , 17715.71960931,
       10727.67803998,  9826.06369137, 12967.44770321,  7030.27740193,
       12821.07012906,  9239.0943849 , 17854.79428748,  9294.02096194,
       15537.15840974, 12179.45299593, 13850.92427809,  7265.04079431,
       17267.45550641, 20005.38279014, 19470.86776275, 14888.78263146,
       11315.39513411,  7950.03836272,  7768.52459178, 17242.57233748,
       18114.95298746, 10744.76273398,  9480.06556751, 14644.15777422,
       14040.21105768,  9338.19228629, 12088.52078336, 14682.18549086,
       11307.57676336, 11809.36259221, 16119.53715235, 11624.77039242,
       15099.73030178, 16260.3429867 ,  8396.73060135, 15138.17724029,
        6533.65181228, 11504.11223837, 10473.8742476 , 19378.38250633,
       12018.4729396 , 13538.00927495,  7474.95420531,  5615.67509103,
       15303.59521445,  9788.89104632, 10849.4965577 ,  8271.62235492,
       12589.8940362 , 14542.85860398, 17801.5324915 , 18649.81866903,
       12848.51405946, 19214.14590884, 14992.54300051, 14143.46593393,
       15661.430405  ,  9060.23429222, 12116.60848548, 13610.72297154,
       17708.15897595,  9572.14596919, 13818.51366336, 12800.98882387,
       15664.57413354, 15088.19633457,  9530.86171139, 17025.98655226,
       15481.94536104, 12920.32732236, 16656.0410733 ,  7760.99714597,
       14805.92871962, 11574.22753265, 16811.03343595, 12334.95642184,
       15078.03177022,  6359.38673674,  6421.71465524, 19555.11542654,
       13797.73438591, 11983.78695964, 18058.81184619, 17062.58287611,
        9223.86802683, 12330.71870475, 12188.1618184 , 16479.32252023,
        8119.21064958,  9802.95039486,  6898.30430182,  8082.33557533,
       17170.7325329 ,  8094.56532222, 10557.14073546, 14742.74353694,
       16021.46798158,  5215.21497411, 12784.90520163, 15592.95442551,
        5874.43339319,  8090.60635551, 15980.42928662, 12437.06530157,
       12256.70417301,  6557.30159656, 11910.81333308, 16016.18935931,
       11272.12198275, 11037.20594434,  5687.84565398, 15184.78767505,
       11758.55427378, 14157.11489904, 19422.35362995,  9503.93437294,
       15456.78344172, 16838.97513789, 18718.03026527, 12034.75456998,
       15489.71836968, 12899.05799464, 16699.60734219])

In [33]:
from sklearn.model_selection import KFold

cv = KFold(n_splits=5, shuffle=True, random_state=99)

for k in cv.split(X[:15]):
    print(k)

(array([ 1,  2,  3,  4,  5,  7,  8,  9, 11, 12, 13, 14]), array([ 0,  6, 10]))
(array([ 0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12]), array([ 7, 13, 14]))
(array([ 0,  1,  3,  6,  7,  8,  9, 10, 11, 12, 13, 14]), array([2, 4, 5]))
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  9, 10, 13, 14]), array([ 8, 11, 12]))
(array([ 0,  2,  4,  5,  6,  7,  8, 10, 11, 12, 13, 14]), array([1, 3, 9]))

In [34]:
from sklearn.model_selection import StratifiedKFold

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=99)

In [37]:
from sklearn.model_selection import cross_val_score

In [21]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [22]:
#sex, smoker region
imp_ohe = make_pipeline(SimpleImputer(strategy='most_frequent'), 
                       OneHotEncoder(sparse=False))
#Age, BMI, Childern
imp_std = make_pipeline(SimpleImputer(), 
                       StandardScaler())

In [23]:
preprocessor = make_column_transformer((imp_ohe, ['sex', 'smoker', 'region']), 
                       (imp_std, ['age', 'bmi', 'children']), 
                       remainder = 'passthrough')

In [26]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(sparse=False))]),
                                 ['sex', 'smoker', 'region']),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer()),
                                                 ('standardscaler',
                                                  StandardScaler())]),
                                 ['age', 'bmi', 'children'])])

In [74]:
from sklearn.linear_model import ElasticNet
Elsnet = ElasticNet(alpha = 0.1, random_state = 0)

In [72]:
from sklearn import set_config
set_config(display='diagram')

pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(sparse=False))]),
                                                  ['sex', 'smoker', 'region']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['age', 'bmi',
                                                   'children'])])),
                ('elasticnet', ElasticNet(alpha=0.1, random_state=0))])

In [27]:
X_train.head()

      age    bmi  children
1075   32  29.59         1
131    61  22.04         0
15     19  24.60         1
1223   20  24.42         0
1137   26  22.23         0

In [28]:
X_train.dtypes
y_train.head()

1075     4562.84210
131     13616.35860
15       1837.23700
1223    26125.67477
1137     3176.28770
Name: charges, dtype: float64

In [42]:

#R-square
from sklearn.metrics import r2_score
r2_score(y_test, y_pred).round(3)

0.158

In [77]:
#MSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
(math.sqrt(mse))

11516.411886639082

In [79]:
#MAPE 
(np.mean(np.abs((y_test - y_pred)/y_test))*100)

115.60373821367821

In [48]:
#PR 
sum(y_pred)/sum(y_test)

0.9804473931524404